### 100 days of codeing
(1)  variables in python

In [2]:
##Create and print a variable
name="vithu"
print("my name is ",name)

my name is  vithu

In [3]:
##Assign your age to a variable and print it
age=21
print("i am ",age)

i am  21

In [4]:
##Swap two variables
a=5
b=6
##after swaping variables
c=a
a=b
b=c
print("a=",a)
print("b=",b)

a= 6
b= 5

In [7]:
##Concatenate two strings
first_name="vithusha"
last_name="vimalathash"
print(first_name,"",last_name)

vithusha  vimalathash

In [ ]:
##Calculate the area of a rectangle
length=10
width=5
rectangle=1/2*width*length
print("rectangle area is :",rectangle)

rectangle is : 25.0

In [9]:
##Use input() to take user input
name=input("enter the number:")
print("user name is :",name)

user name is : vithu

In [10]:
##Type casting
a=20
b=2.4
print(float(a))
print(int(b))

20.0
2

In [16]:
##Multiple assignments
a,b,c=2,3,4
print(a,b,c)
a=b=c=4
print(a,b,c)
a,b,c=2,4,5
print(a+b+c)

2 3 4
4 4 4
11

In [17]:
##Use formatted strings (f-strings)
name="vithu"
age=21
print(f"my name is {name} ,i am {age} years old")

my name is vithu ,i am 21 years old

In [24]:
##Simple calculator using variables
num1=30
num2=50

print(f"addition is :{num1 +num2}")
print(f"subtraction is :{num1-num2}")
print(f"muliplication is :{num1*num2}")
print(f"division is :{num1/num2}")

addition is :80
subtraction is :-20
muliplication is :1500
division is :0.6

 Python Syntax
 
Python syntax is the set of rules that define how Python code should be written and structured so that the computer can understand and execute it.

1.Print Statement

In [ ]:
print("hello,world!")

hello,world!

2. Indentation

In [ ]:
age = 21

if age>=18:
    print("you are major")
else:
    print("you are not major")

you are major

3.Variables

In [ ]:
name = "vithusha" ##name is a veriable
print(name)

vithusha

4.Comments

In [ ]:
## this is a single line command

"""A multiline command is a command or
   block of code that spans
   more than one line    
                      """

'A multiline command is a command or\n   block of code that spans\n   more than one line    \n                      '

5.Case Sensitive

In [ ]:
name = "vithu"
Name = "mathu"

print(name)
print(Name)

vithu
mathu

6.Function Definition

In [ ]:
def myfun():return "vithu"
name=myfun()
print(name)

vithu

Python Variables types

In [ ]:
num1=32 #int
name="vithu" #str
num2=38.9 #float
num3=4+0j #complex
num4=["dog","cat","rabbit","lion"] #list
num5=("mango","apple","banana") #tuple
num6={"name:vithu","age:21","height:6.1"} #dict
num7={'banana','apple','mango'} #set
num8=frozenset({'apple','banana','orange'}) #frozenset
num9=True #bool

print(type(num1),num1)
print(type(name),name)
print(type(num2),num2)
print(type(num3),num3)
print(type(num4),num4)
print(type(num5),num5)
print(type(num6),num6)
print(type(num7),num7)
print(type(num8),num8)
print(type(num9),num9)

<class 'int'> 32
<class 'str'> vithu
<class 'float'> 38.9
<class 'complex'> (4+0j)
<class 'list'> ['dog', 'cat', 'rabbit', 'lion']
<class 'tuple'> ('mango', 'apple', 'banana')
<class 'set'> {'name:vithu', 'age:21', 'height:6.1'}
<class 'set'> {'banana', 'mango', 'apple'}
<class 'frozenset'> frozenset({'apple', 'orange', 'banana'})
<class 'bool'> True

Variable Names

In [ ]:
## these are different veriable names

my_var = "vithu"
myvar = "vithu"
_my_var = "vithu"
myVar = "vithu"
Myvar = "vithu"
MYVAR = "vithu"
myvar3 = "vithu"

print(my_var)
print(myvar)
print(_my_var)
print(myVar)
print(Myvar)
print(MYVAR)
print(myvar3)

vithu
vithu
vithu
vithu
vithu
vithu
vithu

Many Values to Multiple Variables

In [ ]:
x,y,z="orange","mango","apple"
print(x)
print(y)
print(z)

## other print types
x,y,z="orang","mango","apple"
print(x,y,z)

x,y,z="orang","mango","apple"
print(x+y+z)

 ##is actually one line with multiple expressions, separated by commas
x,y,z="orang","mango","apple"
print(x),print(y),print(z)

##fix this code
x,y,z="orang","mango","apple"
print(x)
print(y)
print(z)

orange
mango
apple
orang mango apple
orangmangoapple
orang
mango
apple
orang
mango
apple

One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### data types and type conversion

What are the basic data types in Python? Give examples.

In [36]:
print(int(34))
print(float(45.6))
print(str("vithu"))
print(complex(5))
print(set("ABCD"))
print(tuple("ABCD"))
print(dict(Name="vithu"  ,age=21))
print(bool(5))

34
45.6
vithu
(5+0j)
{'C', 'B', 'A', 'D'}
('A', 'B', 'C', 'D')
{'Name': 'vithu', 'age': 21}
True

What is the output of the following code?

In [28]:
x=10
print(type(x))  ## <class 'int'>

<class 'int'>

Which data type is used to store text in Python?

In [30]:
## we have to use data type is string
txt="my name is vithu"
print(type(txt))

<class 'str'>

What is the difference between int and float?

In [1]:
## int :whole numbers(1,2,3.....)
int_num=34
print(type(int_num),int_num)
## float :decimal numbers(1.1,1.2,1.3,...)
float_num=34.5
print(type(float_num),float_num)

<class 'int'> 34
<class 'float'> 34.5

Write a Python program to convert a string to an integer.

In [42]:
string="234"
print(int(string))

234

What is the output of this code?

In [43]:
x=3.24
y=int(x)
print(y)  ##3

3

How can you convert an integer to a string in Python?

In [48]:
int_num=56
print(str(int_num))

56

What data type is returned by input() function?

In [ ]:
name=input("enter the name?")  ## str
print(type(name),name)

<class 'str'> vithu

What is the output of this code?

In [52]:
x="100"
y=int(x)
print(type(y))  ##<class 'int'>

<class 'int'>

What is type casting in Python? Explain with an example.

In [56]:
## str,int,float
str_var="45"
int_var=34
float_var=45.3
print(int(str_var))
print(str(int_var))
print(int(float_var))

45
34
45

How do you convert a float to a string?

In [57]:
float_var=45.6
print(str(float_var))

45.6

Write a program to take a user’s input (as string) and convert it into float.

In [60]:
age=int(input("enter your age:"))
print(type(age),age)

age=float(input("enter your age:"))
print(type(age),age)

<class 'int'> 21
<class 'float'> 21.0

How can you check the data type of a variable in Python?

In [2]:
name="vithu"
age=21
height=6.9
weight=48

print(type(name),name)
print(type(age),age)
print(type(height),height)
print(type(weight),weight)

<class 'str'> vithu
<class 'int'> 21
<class 'float'> 6.9
<class 'int'> 48

What will be the result of this code?

In [65]:
a="5"
b=3
print(a*b) ##555

555

Convert a boolean value True to an integer. What will be the result?

In [70]:
bool_value=True
print(int(bool_value))  ## 1

1

What is the result of the following code?

In [74]:
print(int(10.5))  ##10
print(int("34"))  ##34

10
34

Write a program that converts a list to a tuple.

In [75]:
lis=[1,2,3,4,5,6,7]
print(tuple(lis))

(1, 2, 3, 4, 5, 6, 7)

Explain the difference between isinstance() and type() with examples.

In [ ]:
## isinstance print data type True or false
int_num=34
print(isinstance(int_num,int))

## type is print data type
name="raha"
print(type(name))

True
<class 'str'>

What is the output of this code? Explain why.

In [78]:
print(type(3/2))   ##float
print(type(3//2))  ##int

<class 'float'>
<class 'int'>

How do you convert a string like "['a', 'b', 'c']" into a real Python list?

In [94]:
str_list="['a','b','c']"
print(str(str_list))

['a','b','c']

Write a function that accepts a mixed list of strings and numbers and returns only the integers.

In [23]:

mix=[1,2.3,"vithu",True,34,"kamala",90]
def mix_list(mix):
    return[item for item in mix if isinstance(item,int)]
mix_list(mix)

[1, True, 34, 90]

What is the result of this code?

In [25]:
x = None
print(type(x))##<class 'nonetype'>

<class 'NoneType'>

How to safely convert a string to an integer without throwing an error if conversion fails?

In [15]:

def conversion(name):
    return str(name) if name.isdigit() else None
conversion("45")

'45'

What happens when you convert a string with letters like "abc" into an integer?

In [3]:
mix=[23,5.4,"naem",43,True,3.4]
def check(mix):
    return[item for item in mix if isinstance(item,int)]
check(mix)

[23, 43, True]

In [5]:
check(mix)

[23, 43, True]

**Write a program to convert:

string → list

list → string**

In [ ]:
##string to list
def conversion(name):
    return list(name) 
conversion("vithu")

['v', 'i', 't', 'h', 'u']

In [31]:
##list to string
def conversion(lis):
    return str(lis)
conversion(lis=["kala","pala","mala"])

"['kala', 'pala', 'mala']"

Convert the following dictionary values to a list:

In [30]:
def conversion(my_dict):
   return list(my_dict)
conversion(my_dict = {'a': 1, 'b': 2, 'c': 3})

['a', 'b', 'c']

In [4]:
import random

r_list=[random.randint(1,20) for _ in range(15)]
print(r_list)

a_list=sorted(r_list,reverse=True)
print(a_list)

d_list=sorted(r_list,reverse=False)
print(d_list)

remove=set(r_list)
print(remove)

[6, 19, 20, 11, 1, 8, 5, 4, 15, 16, 11, 16, 3, 18, 18]
[20, 19, 18, 18, 16, 16, 15, 11, 11, 8, 6, 5, 4, 3, 1]
[1, 3, 4, 5, 6, 8, 11, 11, 15, 16, 16, 18, 18, 19, 20]
{1, 3, 4, 5, 6, 8, 11, 15, 16, 18, 19, 20}

In [7]:
matix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print("matix:")
for row in matix:
    print(row)
print(f"2row and 3colum:{matix[1][2]}")

matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
2row and 3colum:6

In [14]:
dictonary=[
    {'name':'vithu' , 'score':'89'},
    {'name':'mathu' , 'score': '98'},
    {'name':'tithu' , 'score': '78'},
    {'name':'kithu' , 'score': '58'},
    {'name':'pathu' , 'score': '58'}
]
print("descending order:")

order=sorted(dictonary,key=lambda x:x['score'],reverse=True)
for row in order:
    print(row)

descending order:
{'name': 'mathu', 'score': '98'}
{'name': 'vithu', 'score': '89'}
{'name': 'tithu', 'score': '78'}
{'name': 'kithu', 'score': '58'}
{'name': 'pathu', 'score': '58'}

In [20]:
def myfun(matix):
    transpose=[[0 for _ in range(3)] for _ in range (3)]

    for i in range(3):
        for j in range(3):
            transpose[j][i]=matix[i][j]

    return transpose

original=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

transport_matix=myfun(original)

print("original matix:")
for row in original:
 print(row)

print("transport_matix:")
for roww in transport_matix:
   print(roww)

original matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
transport_matix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [25]:
def myfun(flatten):
    e_list=[]
    for sublist in flatten:
        for item in sublist:
            e_list.append(item)
    return e_list

original=[[1,2,3],[4,5,6],[5,4,7,8],[9,8,7]]

flatten=myfun(original)

print(original)
print(flatten)

[[1, 2, 3], [4, 5, 6], [5, 4, 7, 8], [9, 8, 7]]
[1, 2, 3, 4, 5, 6, 5, 4, 7, 8, 9, 8, 7]

In [26]:
list_int=[1,2,3,4,5,6,7,8,9,10]

for index in sorted([2,4],reverse=True):
     list_int.pop(index)

print(list_int)

[1, 2, 4, 6, 7, 8, 9, 10]

In [28]:
list1=["vithu","mathu","saraa","kithu"]
list2=[90,80,70,60]

ziped=zip(list1,list2)
print(list(ziped))

[('vithu', 90), ('mathu', 80), ('saraa', 70), ('kithu', 60)]

In [29]:
list2=[90,80,70,60]
print(list2[::-1])

[60, 70, 80, 90]

In [33]:
def rotation(list1,n):
    n=n%len(list1)
    rotated=list1[n:]+list1[:n]
    
    return rotated
n=3
list2=[1,2,3,4,5,6,7]

rotation_list=rotation(list2,n)
print(rotation_list)

[4, 5, 6, 7, 1, 2, 3]

In [37]:
def myfun(list1,list2):
    int_list=[]
    for item in list1:
        if item in list2:
            int_list.append(item)

    return int_list

list1=[1,2,3,4,5]
list2=[4,5,6,7,8]

list_interction=myfun(list1,list2)

print(list_interction)

[4, 5]

In [2]:
int_n=23.12
num=45
print(complex(num))
print(int(int_n))
print(float(num))

(45+0j)
23
45.0

In [11]:
str_list="hello world!"
print(str_list.capitalize())
print(str_list.casefold())
print(str_list.strip())
print(str_list.split())

Hello world!
hello world!
hello world!
['hello', 'world!']

In [24]:
txt="i love\'s to study \"math\" and \"coding\"!"
print(txt)
print(txt.title())
print(txt.capitalize())

i love's to study "math" and "coding"!
I Love'S To Study "Math" And "Coding"!
I love's to study "math" and "coding"!