## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [11]:
print("hello world!")

hello world!

**Question 2:** Write a Python program that takes a user input and prints it.

In [13]:
user_input=input("enter your thought:")
print(user_input)

i love codeing

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [14]:
num=int(input("enter the number:"))
if num>0:
    print(f"{num} is positive")
elif num<0:
    print(f"{num} is negative")
else:
    print(f"{num} is zero")

78 is positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [19]:
##use shorted
lis=[1,2,3,4,5,6,7,8,9,10]
sort_num=sorted(lis,reverse=True)
largre_num=sort_num[:3]
print(f"largest three numbers:{largre_num}")

largest three numbers:[10, 9, 8]

In [24]:
##use heapq
import heapq
lis=[1,2,3,4,5,6,7,8,9,10]
sort_num=heapq.nlargest(3,lis)
largre_num=sort_num[:3]
print(f"largest three numbers:{largre_num}")

largest three numbers:[10, 9, 8]

**Question 5:** Write a Python program to calculate the factorial of a number.

In [29]:
fact=5
for i in range(1,fact):
    fact=fact*i
print(fact)

120

In [32]:
##square
sequare=10

for i in range(1,sequare):
    sequare=i*i
    print(sequare)

1
4
9
16
25
36
49
64
81

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [34]:
int_data=68
float_data=67.9
string="vithu"
bool_data=True

print(type(int_data))
print(type(float_data))
print(type(string))
print(type(bool_data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [36]:
a=90
b=80
## swap
c=a
a=b
b=c
print("a=",a)
print("b=",b)

a= 80
b= 90

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [38]:
celsius=int(input("enter the celsius:"))
celsiu_to_fahrenite=(celsius*9/5)+32
print(f"celsiu_to_fahrenite:{celsiu_to_fahrenite}")

celsiu_to_fahrenite:752.0

**Question 9:** Write a Python program to concatenate two strings.

In [40]:
name="vithu"
Name="vimslsthas"
print(name+" "+Name)

vithu vimslsthas

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
name=input("enter the type of data:")
print(isinstance(name,type(name)))

True

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [5]:

a=44
b=2
print("adisition=",a+b)
print("subraction=",a-b)
print("multiplication=",a*b)
print("division=",a/b)

adisition= 46
subraction= 42
multiplication= 88
division= 22.0

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [11]:
a=89
b=57

print("equal to=",a==b)   #equal to
print(a !=b)  #not equal to
print(a>b)    #greater than
print(a<b)    #less than

equal to= False
True
True
False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
a=True
b=False
## AND GATE
print(a and b)
print(a and a)  ## true
print(b and b)
print(b and a)

#OR GATE
a=True
b=False
print(a or a)
print(b or b)  #false
print(b or a)
print(a or b)

#not gate
print(not a)  ##false
print(not b)  ##true

False
True
False
False
True
False
True
True
False
True

**Question 14:** Write a Python program to calculate the square of a number.

In [21]:
sequare=5
for i in range(1,sequare+1):
       sequare=i*i  
       print(sequare)

1
4
9
16
25

In [ ]:
def myfun(sequare):
    for i in range(1,sequare):
        sequare=i*i       
        print(sequare)
myfun(6)

1
4
9
16
25

**Question 15:** Write a Python program to check if a number is even or odd.

In [24]:
num=int(input("enter the number:"))
if num%2==0:
    print(f"{num} is even number")
else:
    print(f"{num} is odd number")

6 is even number

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [34]:
num=45
total=num*(num+1)//2
print("total=",total)

total= 1035

In [38]:
[10*(10+1)//2]

[55]

**Question 17:** Write a Python program to check if a year is a leap year.

In [43]:
year=int(input("enter the year:"))
if (year%4==0 and year%100!=0) or (year%400==0):
    print(f"{year}this year is leep year")
else:
    print(f"{year} is not a leep year")

2024this year is leep year

**Question 18:** Write a Python program to reverse a string.

In [47]:
name="vithusha"
print(name[::-1])

ahsuhtiv

**Question 19:** Write a Python program to check if a string is a palindrome.

In [52]:
str_var=input("enter the word")
if str_var[0]==str_var[-1]:
    print(f"{str_var} is palindrome word")
else:
    print("this word is not palindrome word")

kalak is palindrome word

In [53]:
str_var="kalak"
print(str_var[0])
print(str_var[-1])

k
k

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [55]:
lis=[289,474,564,784,355,654,745,200,336,]
asc_order=sorted(lis,reverse=True)
print(asc_order)

[784, 745, 654, 564, 474, 355, 336, 289, 200]

In [56]:
## desending order
lis=[289,474,564,784,355,654,745,200,336,]
asc_order=sorted(lis,reverse=False)
print(asc_order)

[200, 289, 336, 355, 474, 564, 654, 745, 784]