In [7]:
## creating a function

def my_function():
    print("hello from a function")

print(my_function())

hello from a function
None

In [2]:
my_function()

hello from a function

In [8]:
def my_function():
    print("hello from a function")

my_function()

hello from a function

In [11]:
def my_function(fname):
    print(fname,"received")

my_function("Email")
my_function("Tobias")
my_function("linus")

Email received
Tobias received
linus received

In [16]:
def my_function(fname,lname):
    print(fname,lname)

my_function("vithu","thusha")

vithu thusha

In [22]:
def my_function(*kids):
    print("the youngrst child is ",kids)

my_function("Emil","Tobias","Linus")

the youngrst child is  ('Emil', 'Tobias', 'Linus')

In [28]:
def my_function(child1,child2,child3):
    print("the youngest child is ",child3)  


my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

the youngest child is  Linus

In [29]:
def my_function(name):
    print("hello",name)


my_function(name=input("enter your name: "))

hello vithu

In [32]:
def my_function(**kid):
    print("His last name is",kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [33]:
def my_function(country ="Norway"):
    print("i am from ",country)

my_function("sweden")
my_function("india")
my_function()
my_function("brazil")
my_function("srilanka")

i am from  sweden
i am from  india
i am from  Norway
i am from  brazil
i am from  srilanka

In [34]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [35]:
def my_function(x):
    return 6 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

18
30
54

In [38]:
def my_function():
    pass

In [44]:
def my_function(x ,/):
    print(x)

my_function(10)

10

In [50]:
def my_function(x):
    print(x)

my_function(x=15)

15

In [54]:

def my_function(*,x ):
    print(x)

my_function(x=20)

20

In [58]:
def my_function(a,b, / ,*,c,d):
    print(a,b,c,d)

my_function(3,4,c=1,d=8)

3 4 1 8

In [59]:
def tri_recursion(k):
    if (k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result =0
    return result


print("recursion example results:")
tri_recursion(6)

recursion example results:
1
3
6
10
15
21

21