# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
set_int=[i for i in range(1,11)]
print(set(set_int))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

## exercise

In [1]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [4]:
x=0
num=10
while x<(num+1):
    if x%2 != 0:
        print(x)
    x=x+1

1
3
5
7
9

In [14]:
fruits=["banana","mango","apple","cherry"]
[x for x in fruits if "c" in x]

['cherry']

In [15]:
fruits=["banana","mango","apple","cherry"]
new_list=[]
[x for x in fruits if "a in x"]

['banana', 'mango', 'apple', 'cherry']

In [23]:
["hello" for x in fruits ]

['hello', 'hello', 'hello', 'hello']

In [24]:
fruits

['banana', 'mango', 'apple', 'cherry']

In [26]:
[x if x!="mango" else "apple" for x in fruits]

['banana', 'apple', 'apple', 'cherry']

In [28]:
for x in fruits:
    if x!="mango":
        print(x)
    else:
        print("apple")

banana
apple
apple
cherry