# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
set_int=[i for i in range(1,11)]
print(set(set_int))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
set_add={1,2,3,4,5,6,7,8,9,10}
set_add.add(11)
set_add.remove(1)
print(set_add)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
positive_set={1,2,3,4,5}
even_set={2,4,6,8,10}

print(positive_set.union(even_set))
print(positive_set.intersection(even_set))
print(positive_set.difference(even_set))
print(positive_set.symmetric_difference(even_set))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [15]:
{x*x for x in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [16]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [18]:
duplicates={1,1,2,3,4,5,5,6,3,7,8,9,9,9,10}
print("modified set : ",set(duplicates))

modified set :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [26]:
positive_set={1,2,3,4,5}
three_int={1,2,3}

print(three_int.issubset(positive_set))
print(three_int.issuperset(positive_set))

True
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [28]:
f_set={x for x in range(1,6)}
print(frozenset(f_set))

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [32]:
p_int_set={1,2,3,4,5}
convert=list(p_int_set)
convert.append(6)
print(set(convert))

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [43]:
my_dict={
    frozenset({1,2}):3,
    frozenset({4,5}):6,
    frozenset({7,8}):9
}
print(my_dict)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [45]:
iterating_set={1,2,3,4,5,6,7,8,9,10}
for x in iterating_set:
    print(x)

1
2
3
4
5
6
7
8
9
10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [11]:
my_set={1,2,3,4,5,6,7,8,9,10}
lis2=list(my_set)
for i in range(10):
   remove=lis2.pop()
   
   print(remove)

10
9
8
7
6
5
4
3
2
1


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [12]:
set1={1,2,3,4,5,6}
set2={5,6,7,8,9,10}

modified=set1.symmetric_difference(set2)
print(modified)

{1, 2, 3, 4, 7, 8, 9, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [15]:
set3={65,33,23,12,56,90,89}
print(45 in set3)
print(32 in set3)
print(12 in set3)

False
False
True



### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [20]:
set_tuple={(1,2),(3,4),(5,6),(7,8)}
print(type(set_tuple))
print(set_tuple)

<class 'set'>
{(1, 2), (3, 4), (7, 8), (5, 6)}

## exercise

In [1]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [4]:
x=0
num=10
while x<(num+1):
    if x%2 != 0:
        print(x)
    x=x+1

1
3
5
7
9

In [14]:
fruits=["banana","mango","apple","cherry"]
[x for x in fruits if "c" in x]

['cherry']

In [15]:
fruits=["banana","mango","apple","cherry"]
new_list=[]
[x for x in fruits if "a in x"]

['banana', 'mango', 'apple', 'cherry']

In [23]:
["hello" for x in fruits ]

['hello', 'hello', 'hello', 'hello']

In [24]:
fruits

['banana', 'mango', 'apple', 'cherry']

In [26]:
[x if x!="mango" else "apple" for x in fruits]

['banana', 'apple', 'apple', 'cherry']

In [28]:
for x in fruits:
    if x!="mango":
        print(x)
    else:
        print("apple")

banana
apple
apple
cherry

In [3]:
fruits=["bananas","apples","cherrys"]
[x.upper() for x in fruits]

['BANANAS', 'APPLES', 'CHERRYS']

In [4]:
fruits=["bananas","apples","cherrys"]
[x.lower() for x in fruits]

['bananas', 'apples', 'cherrys']

In [7]:
fruits=["bananas","apples","cherrys"]
[x.strip() for x in fruits]

['bananas', 'apples', 'cherrys']

In [8]:
[x if x!="bananas" else "orange" for x in fruits]

['orange', 'apples', 'cherrys']

In [11]:
fruits.sort()
print(fruits)

['apples', 'bananas', 'cherrys']

In [15]:
num=[1,2,5,6,3,8]
num.sort()
print(num)

[1, 2, 3, 5, 6, 8]

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [17]:
def myfun(n):
    return abs(n-50)

lis=[10,34,56,74,100]
lis.sort(key = myfun)
print(lis)

[56, 34, 74, 10, 100]

In [28]:
thislist = ["banana", "apple","cherry"]
thislist.sort(key=str.lower)
print(thislist)

['apple', 'banana', 'cherry']

In [29]:
thislist.reverse()
print(thislist)

['cherry', 'banana', 'apple']

In [ ]:
lis=[2,3,4,5,6]
lis2=[5,7,9,8,10]
lis3=