## sets

In [ ]:
## do not allow duplicate elements
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set=({1,2,3,4,5,6,7})
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [7]:
## dict

my_dict=({"name":"vithu","age":21})
print(type(my_dict))
print(my_dict)

<class 'dict'>
{'name': 'vithu', 'age': 21}

In [9]:
## do not allow dupilicate items
my_set={1,2,3,4,4,3,2,6,6,7,8,5}
print(set(my_set))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
## basic sets opreation
## adding and removing elements

## adding elements
my_set.add(10)
print(my_set)
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [13]:
## removing items
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7, 8, 10}

In [17]:
## discard & remove 
## remove an element from a set if it a member
my_set.discard(5)
print(my_set)

{1, 2, 4, 6, 7, 8, 10}

In [21]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

6
{7, 8, 10}

In [26]:
my_set.add(5)

In [27]:
my_set

{5, 7, 8, 10}

In [29]:
## clear all elements
my_set.clear()
print(my_set)

set()

In [31]:
## set memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [11]:
## mathamatical operation
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}

## union
union_set=set1.union(set2)
print(union_set)

## INTERSECTION

inter_set=set1.intersection(set2)
print(inter_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6, 7}
{5, 6, 7}

In [13]:
## different
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}

print(set1.difference(set2))

## different_update
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}

print(set1.difference_update(set2))

{1, 2, 3, 4}
None

In [14]:
set1

{1, 2, 3, 4}

In [15]:
set2

{5, 6, 7, 8, 9, 10}

In [19]:
## symmetric difference
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 8, 9, 10}

In [25]:
## set methods
set1={1,2,3,4,5}
set2={3,4,5,1,2}

## issubset
print(set1.issubset(set2))
## issuperset
print(set1.issuperset(set2))

True
True

In [30]:
lis=[1,2,3,4,2,1,2,3,4,5,5]
set(lis)

{1, 2, 3, 4, 5}

In [36]:
## counting unique words in text
text="in this tutorial we are discussing about sets"
words=text.split()

unique_words=set(words)
print(len(unique_words))
print(unique_words)

8
{'tutorial', 'discussing', 'about', 'in', 'sets', 'are', 'we', 'this'}