Exercise 1: Hello, Python

In [1]:
print("Hello, python")

Hello, python

 Exercise 2: Comments
Goal: Add comments to the given code to explain what each line does.

In [4]:
## this is single line command 
name="vithu"
print("my name is",name)  # my name is vithu

## this is multi line command

"""my name is vithu
   i am 21 years old
   i love coding"""

my name is vithu

'my name is vithu\n   i am 21 years old\n   i love coding'

 Exercise 3: Indentation Error Fix
Goal: Fix the indentation error in this code.

In [5]:
# this is indentation error
"""if True:
print("python is fun!")"""

## this fix this code

if True:
    print("python is fun!")

python is fun!

 Exercise 4: Syntax Error Hunt
Goal: Find and fix all syntax errors.

In [6]:
# Task: Fix the syntax errors
"""print("Welcome to Python
   name = input("What is your name?)
   print("Hello", name)"""

## to fix this code

print("welcome to python!")
name=input("what is your name?")
print("hello",name)

welcome to python!
hello vithu

Exercise 5: Create a Function
Goal: Define a simple function and call it.

In [ ]:
# Task: Write a function that prints "Learning Python is cool!"

def myfun():
    print("learning python is cool!")
myfun()

learning python is cool!
vithu

 Exercise 6: Case Sensitivity
Goal: Understand how Python treats variable names with different cases.

In [9]:
name="vithu"
Name="saraa"

print(name)
print(Name)

vithu
saraa

 Exercise 7: Using Keywords (Error)
Goal: Learn why we can't use Python keywords as variable names.

In [11]:
# Task: What error do you get? Try running this
"""def = "function"
   print(def)"""
## tjis variable is function so this variable is error

'def = "function"\n   print(def)'

In [15]:
## see the keyword module to see all reserved words
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Exercise 8: Semicolon Use
Goal: Combine two statements in one line using ;

In [ ]:
##combine print statement in one line
print("python") ; print("is powerful")

python
is powerful

Exercise 9: Escape Characters
Goal: Use escape characters to print a quote inside a string.

In [3]:
print("she said,\"hello!\"")

she said,"hello!"

 Exercise 10: Block of Code (Indentation Practice)
Goal: Properly indent the block to run inside a function.

In [5]:
# Task: Fix the indentation inside the function
"""def greet():
   print("Welcome!")
   print("Let’s learn Python.")

greet()"""

def greet():
    print("welcome!")
    print("let\'s lean python")
greet()

welcome!
let's lean python

✅ Advanced Python Syntax and Semantics - Exercises

 Project: Python Syntax Quiz Game

In [14]:
print("well come to quiz game!")
name=input("please enter your name:")
print("first quesion")
print ("what is tha correct variable?")
print ("answer: (1)_name  (2)-name (3)@name (4)#name")
marks=0
while True:
    answer = input("please enter your answer number(1,2,3,4)")
    if answer == "1":
        print("ohh grate your answer is correct")
        marks=marks+20
        break
    elif answer in ["2","3","4"]:
        print("sorry your answer is wrong! try agin")
    else:
        print("invalid input!")
print("secound quesion")
print ("what is the python keyword?")
print ("answer: (1)int  (2)str (3)elif (4)tuple")
while True:
    answer = input("please enter your answer number(1,2,3,4)")
    if answer == "3":
        print("ohh grate your answer is correct")
        marks=marks+20
        break
    elif answer in ["2","1","4"]:
        print("sorry your answer is wrong! try agin")
    else:
        print("invalid input!")
print("ouesion number three")
print ("what is tha correct function?")
print ("answer: (1)def   (2)def myfun() (3)defmyfun() (4)def myfun():")
while True:
    answer = input("please enter your answer number(1,2,3,4)")
    if answer == "4":
        print("ohh grate your answer is correct")
        marks=marks+20
        break
    elif answer in ["2","3","1"]:
        print("sorry your answer is wrong! try agin")
    else:
        print("invalid input!")

print("ouesion number four ")
print ("what is tha wrong keyword?")
print ("answer: (1)else  (2)if (3)whle (4)in ")
while True:
    answer = input("please enter your answer number(1,2,3,4)")
    if answer == "3":
        print("ohh grate your answer is correct")
        marks=marks+20
        break
    elif answer in ["2","1","4"]:
        print("sorry your answer is wrong! try agin")
    else:
        print("invalid input!")

print("last quesion!")
print ("what is tha wrong data type?")
print ("answer: (1)int  (2)number (3)float (4)list")
while True:
    answer = input("please enter your answer number(1,2,3,4)")
    if answer == "2":
        print("ohh grate your answer is correct")
        marks=marks+20
        break
    elif answer in ["1","3","4"]:
        print("sorry your answer is wrong! try agin")
    else:
        print("invalid input!")

print("Congratulations your marks is:",marks)

well come to quiz game!
first quesion
what is tha correct variable?
answer: (1)_name  (2)-name (3)@name (4)#name
ohh grate your answer is correct
secound quesion
what is the python keyword?
answer: (1)int  (2)str (3)elif (4)tuple
ohh grate your answer is correct
ouesion number three
what is tha correct function?
answer: (1)def   (2)def myfun() (3)defmyfun() (4)def myfun():
ohh grate your answer is correct
ouesion number four
what is tha wrong keyword?
answer: (1)else  (2)if (3)whle (4)in
sorry your answer is wrong! try agin
ohh grate your answer is correct
last quesion!
what is tha wrong data type?
answer: (1)int  (2)number (3)float (4)list
ohh grate your answer is correct
Congratulations your marks is: 100

##  fibonacci number

In [18]:
fib=[ a := 0, b := 1 ] + [( a:= b,b := a + b)[0]for _ in range(10)]
print(fib)

[0, 1, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

## list comprehension

In [ ]:
## fibonacci number
[a := 0 , b := 1] + [(a := b, b := a+b)[0] for _ in range(10)]

[0, 1, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [23]:
## odd number
[num for num in range(1,21) if num % 2 ==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
## even number
[num for num in range(1,21) if num % 2 !=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
## natural number
[nat_num for nat_num in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [34]:
## prime number
[i for i in range(2,20) if all( i % j != 0 for j in range(2,i))]

[2, 3, 5, 7, 11, 13, 17, 19]

In [36]:
lis=[2,3,4,5,5]
lis.extend(lis)

In [38]:
lis.sort()

In [39]:
lis

[2, 2, 3, 3, 4, 4, 5, 5, 5, 5]

In [40]:
lis.clear

In [41]:
lis

[2, 2, 3, 3, 4, 4, 5, 5, 5, 5]

In [42]:
lis.clear()

In [43]:
lis

[]

In [45]:
import random
random.randint(1,10)

3

In [49]:

lis=[1,2,3,4,5,6,7,8,9,10]
even=random.sample(lis,k=3)

In [53]:
## prime numbers
[i for i in range(2,21) if all(i%j !=0 for j in range(2,i))]

[2, 3, 5, 7, 11, 13, 17, 19]

In [58]:
## triangle number 

[num*(num+1)//2 for num in range(1,10) ]

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [71]:
## factors
fact=[]
num = int(input("enter the number:"))

for i in range(1,num+1):
    if num % i == 0:
        fact.append(i)
print(fact)

[1, 2, 5, 10]

In [74]:
lis=[1,2,3,4,5,6,7,8,9,10]
for list in enumerate(lis):
    print(list)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [76]:
## squre number
[num**2 for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
## triangle 
[num*(num+1)//2 for num in range(1,11)]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [82]:
## fibonacci
fib=[a :=0,b :=1]+[(a:=b , b:=a+b)[0] for _ in range(1,12)]

print(fib)

[0, 1, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [84]:
## prime 
[num for num in range(2,11) if all(num%i !=0 for i in range(2,num))]

[2, 3, 5, 7]