# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [25]:
pos_tup=tuple(range(1,11))
print(pos_tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
print("first :",positive_tuple[0])
print("middle :",len(positive_tuple)//2)
print("last :",positive_tuple[-1])

first : 1
middle : 5
last : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print("first three : ",positive_tuple[0:3])
print("last three : ",positive_tuple[-3:])
print("2 to 5 elements :",positive_tuple[1:5])

first three :  (1, 2, 3)
last three :  (8, 9, 10)
2 to 5 elements : (2, 3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
tuple_matix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("2ed row 3d column : ",tuple_matix[1][2])

2ed row 3d column :  6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [18]:
tuple_one=(1,2,3)
tuple_secound=(4,5,6)

concatenete_tuple=tuple_one + tuple_secound
print ("concatenete_tuple : ",concatenete_tuple)

concatenete_tuple :  (1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [22]:
tup=(1,2,3,3,3,3,4)
print(f"count of the element : ",tup.count(3))
print(f"first occurrence element : ",tup.index(2))

count of the element :  4
first occurrence element :  1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [23]:
tup=("A","B","C","D","E")
a,b,c,d,e=tup
print(a)
print(b)
print(c)
print(d)
print(e)

A
B
C
D
E

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [26]:
lis=[1,2,3,4,5]
print(tuple(lis))

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [28]:
tup=((1,2,3),("a","b","c"),(23,45,67))
for tups in tup:
    for elements in tups:
        print(elements,end=" ")
    print()

1 2 3
a b c
23 45 67

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [43]:
tup=[tuple(range(1,6))]
tup.append(6)
tupl=tuple(tup)
print("list : ",tup)
print("tuple : ",tupl)

list :  [(1, 2, 3, 4, 5), 6]
tuple :  ((1, 2, 3, 4, 5), 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [55]:
tup="i", "am", "vithusha"
tupl=tuple(tup)
join_str=''. join(tupl)
print(join_str)

iamvithusha

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [73]:
tup_dict={
    (2,3):4,
    (4,5):5,
    (6,7):6
}
print(tup_dict)

{(2, 3): 4, (4, 5): 5, (6, 7): 6}

In [75]:
tupl_dict=(("name","vithu","age",21))
dic=dict(tup_dict)
dictionary=dict(dic)
print(dictionary)

{(2, 3): 4, (4, 5): 5, (6, 7): 6}

In [76]:
name="vithu","hana","paala","raja"
score=43,67,89,56

print(dict(zip(name,score)))

{'vithu': 43, 'hana': 67, 'paala': 89, 'raja': 56}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [85]:
nest_tup=((1,2,3),(4,5,6),(7,8,9))
for i in nest_tup:
    for items in i:
        print(items,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [87]:
tup=(3,4,5,5,5,6,6,7,7,8,3,2,7)
remov=set(tup)
print(remov)

{2, 3, 4, 5, 6, 7, 8}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [97]:
sample_tup=(1,2,3,4,5,6,7,8,9,10)

def sum_tup(tup):
    return sum(tup)
def max_tup(tup):
    return max(tup)
def min_tup(tup):
    return min(tup)
sample_tup=(1,2,3,4,5,6,7,8,9,10)
print(f"minimum : {min_tup(sample_tup)}")
print(f"maxmimum : {max_tup(sample_tup)}")
print(f"sum : {sum_tup(sample_tup)}")

minimum : 1
maxmimum : 10
sum : 55