## Introduction to Tuples

In [2]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
lis=list()
print(type(lis))
tup = tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [3]:
list((2,1,3,4,5,6,7,9))

[2, 1, 3, 4, 5, 6, 7, 9]

In [5]:
tuple([1,2,3,4,5,6,7,7])

(1, 2, 3, 4, 5, 6, 7, 7)

In [6]:
mixed_tuple=["vithu",80,7.8,4+0j]

In [7]:
print(mixed_tuple)

['vithu', 80, 7.8, (4+0j)]

## slicing tuple

In [9]:
mixed_tuple

['vithu', 80, 7.8, (4+0j)]

In [16]:
print(mixed_tuple[0] ) ## first element
print(mixed_tuple[2] ) ##  thirt element
print(mixed_tuple[1:] )
print(mixed_tuple[:-1])
print(mixed_tuple[-1])

vithu
7.8
[80, 7.8, (4+0j)]
['vithu', 80, 7.8]
(4+0j)

In [18]:
print(mixed_tuple[::])
print(mixed_tuple[::-1])

['vithu', 80, 7.8, (4+0j)]
[(4+0j), 7.8, 80, 'vithu']

In [19]:
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)

concatenation=tuple1 + tuple2

print(concatenation)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [27]:
conca=concatenation *2
print(conca)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
print(conca.count(4))
print(conca.index(6))

2
5

#### packing tuple

In [31]:
packed_tuple=4,"vithu",4.65
print(packed_tuple)

(4, 'vithu', 4.65)

In [32]:
packed_list=4,"vithu",5.6
print(packed_list)

(4, 'vithu', 5.6)

In [6]:
numbers=[4,5,6]

#### unpacking tuple

In [7]:
a,b,c=numbers
print (a)
print (b)
print(c)

4
5
6

### unpacking with *

In [14]:
number=[1,2,3,4,5,6,7,8,9,10]
first,*middle,last=number

print (first)
print (middle)
print (last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

## access the elements insite a tuple

In [17]:
nested_tuple =((1,2,3,4),("s","b","l"),["hello","vithu","2.0"])
for sub_tuple in nested_tuple:
    for items in sub_tuple:
        print(items,end=" ")
    print()

1 2 3 4
s b l
hello vithu 2.0

In [18]:
*items , sub_tuple

('2', '.', '0', ['hello', 'vithu', '2.0'])

In [5]:
list3=[1,2,3,4,5]
list3[2]=45,34
print(list3)

[1, 2, (45, 34), 4, 5]

In [7]:
list3[2]="vithu"
print(list3)

[1, 2, 'vithu', 4, 5]

In [8]:
list3[1]="30"

In [9]:
list3

[1, '30', 'vithu', 4, 5]

In [11]:
lis1=[1,2,3,4,5]
lis2=[6,7,8,9,10]

lis1.extend(lis2)
print(lis1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
lis1=[1,2,3,4,5]
lis2=[6,7,8,9,10]

del lis1[0]
lis2.pop(1)
lis1.remove(2)
print(lis1)
print(lis2)

[3, 4, 5]
[6, 8, 9, 10]

In [22]:
## del items delete all list items
lis3=[1,2,3,4,5]
del lis3

In [24]:
## clear methord empity the list
lis2.clear()
print(lis2)

[]

In [ ]:
lis4=[1,2,3,4,5]
lis4.pop()

AttributeError: 'list' object has no attribute 'push'