In [2]:
### syntax 
def function(parameters):
    "docstring"
    # function body
    return expression

In [3]:
### why function?
num =4
if num%2==0:
    print("this number is even")
else:
    print("this number is odd")

this number is even

In [8]:
def odd_or_even(num):
    """ this function is finds even or odd"""
    if num%2==0:
        print("even number")
    else:
        print("odd number")
print(odd_or_even(45))

odd number
None

In [11]:
odd_or_even(33)

odd number

In [13]:
## function with multiple parameters

def add(a,b):
    """add two variable"""
    return a+b
print(add(4,20))

24

In [17]:
## default paremeters

def greet (name="Guest"):
    print(f"hello {name} welcome to the paradise")

greet()

hello Guest welcome to the paradise

In [18]:
def greet (name="Guest"):
    print(f"hello {name} welcome to the paradise")

greet("vithu")

hello vithu welcome to the paradise

In [23]:
## variable length Arguments
## positional and keywords arguments

def print_number(*vithu):
    for number in vithu:
        print(number)

print_number(1,2,3,4,5,6,7,8,"vithu")

1
2
3
4
5
6
7
8
vithu

In [25]:
## positional arguments
def print_number(*args):
    for number in args:
        print(number)
print_number(1,2,3,4,5)

1
2
3
4
5

In [27]:
## keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_details(name="vithu",age=21,country="srilanka")

name:vithu
age:21
country:srilanka

In [30]:
def print_details(*args,**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
    for number in args:
        print(number)
print_number(1,2,3,4,5)
print_details(name="vithu",age=21,country="srilanka")

1
2
3
4
5
name:vithu
age:21
country:srilanka

In [37]:
def print_details(*args,**kwargs):
    for number in args:
        print(f"position argument{number}")

    for key,value in kwargs.items():
      print(f"{key}:{value}")

In [38]:
print_details(1,2,3,"vithu",name="vithu",age=21,country="srilanka")

position argument1
position argument2
position argument3
position argumentvithu
name:vithu
age:21
country:srilanka

In [40]:
## return  statement
def multi(a,b):
    return a*b

multi(3,4)

12

In [39]:
## return multiple parameters
def mutiple(a,b):
    return a*b,a,b
mutiple(4,5)

(20, 4, 5)