Veriables in python

In [3]:
##declaring and assinging variable

age=32
height=6.3
name="vithu"
is_student=True

print(type(age),"age:",age)
print(type(height),"height:",height)
print(type(name),"name:",name)
print(type(is_student),"is_student:",is_student)

<class 'int'> age: 32
<class 'float'> height: 6.3
<class 'str'> name: vithu
<class 'bool'> is_student: True

In [4]:
##nameing convention
##variable names shoud be descriptive
##they must start with a letter or '_' and contain letter,number and underscore
##variable names are case sencitive

first_name="vithu"
last_name="mathu"

In [14]:
##invalid variable names

##2age=21
##first-name="vithu"
##@name="vithu"
##$name="vithu"

In [15]:
##case sensitivity

name="vithu"
Name="sara"

Name==name

False

In [17]:
##variable types

age=32
height=6.3
name="vithu"
is_student=True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
 ##type checking and conversion

age=21
print(type(age))


##type conversion

age_str=str(age)

print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [31]:
age=21
print(type(float(age)),float(age))
print(type(int(age)),int(age))
print(type(complex(age)),complex(age))

<class 'float'> 21.0
<class 'int'> 21
<class 'complex'> (21+0j)

In [33]:
##dynemic type
num=200
print(num,(type(num)))

num=200.8
print(num,(type(num)))

200 <class 'int'>
200.8 <class 'float'>

In [5]:
##input

age=int(input("enter the number:"))
print(age,(type(age)))

21 <class 'int'>

In [16]:
##simple calculater
while True:
   num1=int(input("enter the first number:"))
   num2=int(input("Ã©nter the secound number:"))
   opreation=input("enter the opreation(+,-,*,/)")


   if opreation=="+":
        print("result=",num1+num2)
   elif opreation=="-":
        print("result=",num1-num2)
   elif opreation=="*":
        print("result=",num1*num2)
   elif opreation=="/":
       if num2 !=0:
          print("result=",num1/num2)
       else:
           print("error")
   else:
        print("enter the correct opreation:")

   retry = input("do you want to continue you enter 'yes' or 'no'").lower()
   if retry != "yes":
       print("thanks for using calculater!")
       break

result= 90
result= 11
result= 90
result= 90.0
thanks for using calculater!