## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [14]:
print("hello world!")

hello world!

In [1]:
lis1=[1,2,3,4,5]
lis=[2,7,8,9,5]
print(lis+lis1)

[2, 7, 8, 9, 5, 1, 2, 3, 4, 5]

In [2]:
lis1=[2,3,4,5,6,7]
lis=[6,7,8,9,5]
for i in lis1:
    lis.append(i)
print(lis)

[6, 7, 8, 9, 5, 2, 3, 4, 5, 6, 7]

In [13]:
lis=[2,3,4,5,6]
lis3=[3,6,7,8,9]
lis2=lis3.index(9)
print(lis2)

4

**Question 2:** Write a Python program that takes a user input and prints it.

In [16]:
user_input=input("enter your name:")
print(f"user name is {user_input}")

user name is vithu

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
num=int(input("enter the number:"))
if num>0:
    print("positive")
elif num<0:
    print("negative")
else:
    print("zero")

negative

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
import heapq
lis=[23,56,45,89,90,79,98,85]
heapq_nun=heapq.nlargest(3,lis)
print(heapq_nun)

[98, 90, 89]

In [ ]:
lis=[23,56,45,89,90,79,98,85]
reverse_num=sorted(lis,reverse=True)
large=reverse_num[:-5]
print(large)

[98, 90, 89]

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
num=10
for i in range(1,num+1):
    if num%i==0:
        print(i)
    i=i+1

1
2
5
10

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
name="vithu"
height=1.6
age=21
is_student=True
print(type(name),name)
print(type(height),height)
print(type(age),age)
print(type(is_student),is_student)

<class 'str'> vithu
<class 'float'> 1.6
<class 'int'> 21
<class 'bool'> True

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
a=32
b=21
##swap variable
c=a
a=b
b=c
print("a :" ,a)
print("b :" ,b )

a : 21
b : 32

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
### celsius to fahrenheit
celsius=int(input("enter the celsius:"))
fahrenhenit=(celsius*9/5)+32
print(f"celsius to fahrenhenit :{fahrenhenit}")

celsius to fahrenhenit :842.0

In [ ]:
### fahrenhite to celsius
fahrenhenit=int(input("enter the fahrenhenit :"))
celsius=(fahrenhenit-32)*5/9
print(f"fahrenhinit to celsius : {celsius}")

fahrenhinit to celsius : 232.22222222222223

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
name="vithu"
nick_name=" is a good girl"
print(f"{name}{nick_name}")
print(name +  nick_name)

vithu is a good girl
vithu is a good girl

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
lis = []  # define list once, before loop

for i in range(4):
    data = input("Enter your data and check data type: ")

    # Example: try to convert to int if possible
    try:
        data = int(data)
    except ValueError:
        pass  # keep as string if conversion fails

    check = isinstance(data, str)
    lis.append(check)

print(lis)

[False, True, True, False]

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
num1=int(input("enter the number:"))
num2=int(input("enter the number:"))
print("addision : ",num1+num2)
print("subraction :",num1-num2)
print("multiplication :",num1*num2)
print("division :",num1/num2)

addision :  57
subraction : 11
multiplication : 782
division : 1.4782608695652173

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
A=23
B=67
print(A > B)
print(A < B)
print(A <= B)
print(A >= B)

False
True
True
False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
A=True
B=False
print(A and B)
print(A or B)
print(not A)
print(not B)
print(B and A)
print(B or A)

False
True
False
True
False
True

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
num=int(input("enter the number:"))
for i in range(1,num+1):
    square=i*i
    print(square)

1
4
9
16
25
36
49
64
81
100

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
num=int(input("enter the number:"))
if num%2==0:
    print(f"{num} is odd")
elif num%2 !=0:
    print(f"{num} is even")
else:
    print("syntex error")

4 is odd

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
sum([ i for i in range (1,11)])

55

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
year=int(input("enter the year:"))
if (year%4==0  and year!= 100)  or year%400==0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

400 is a leap year



**Question 18:** Write a Python program to reverse a string.

In [ ]:
string="hello world!"
for i in range (len(string)):
  strin1=(string[::-1])
print(strin1)

!dlrow olleh

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
palindrome=input("enter the words")
if palindrome[0] == palindrome[-1]:
    print(f"{palindrome} is a palindrome")
else:
    print(f"{palindrome} is not a palindrome")

level is a palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
### this is desending order
lis=[23,12,34,67,89,56,90]
print(f"this is a desending order : {sorted(lis,reverse=True)}")
### this is ascending order
lis=[23,12,34,67,89,56,90]
print(f"this is a ascending order : {sorted(lis)}")

this is a desending order : [90, 89, 67, 56, 34, 23, 12]
this is a ascending order : [12, 23, 34, 56, 67, 89, 90]

# Module 2: Control Flow Assignments
## Lesson 2.1: Conditional Statements
### Assignment 1: Simple if Statement

Write a program that asks the user to input a number and prints whether the number is positive.

In [ ]:
num=int(input("enter the number:"))
if num>0:
    print(f"{num} is positive")

45 is positive

### Assignment 2: if-else Statement

Write a program that asks the user to input a number and prints whether the number is positive or negative.

In [ ]:
num=int(input("enter the number:"))
if num>0:
    print(f"{num} is positive" )
else:
    print(f"{num} is negative")

-90 is negative

### Assignment 3: if-elif-else Statement

Write a program that asks the user to input a number and prints whether the number is positive, negative, or zero.

In [ ]:
num=int(input("enter the number:"))
if num>0:
    print(f"{num} is positive")
elif num<0:
    print(f"{num} is negative")
else:
    print(f"{num} is zero")

90 is positive

### Assignment 4: Nested if Statement

Write a program that asks the user to input a number and prints whether the number is positive and even, positive and odd, or negative.

In [ ]:
num=int(input("enter the number:"))
if num>0:
    if num%2==0:
        print(f"{num} is positive and even number")
    else:
        print(f"{num} is positive and odd number")   
else:
    print(f"{num} is negative number")

68 is positive and even number

## Lesson 2.2: Loops
### Assignment 5: for Loop

Write a program that prints all the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Assignment 6: while Loop

Write a program that prints all the numbers from 1 to 10 using a while loop.

In [ ]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### Assignment 7: Nested Loops

Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [ ]:
for i in range (5):
    for j in range (5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### Assignment 8: break Statement

Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [ ]:
total=0
while True:
    num=int(input("enter the number:"))
    if num==0:
        break
    else:
        total=total+num
print(f"total of the number is : {total}")

total of the number is : 20

### Assignment 9: continue Statement

Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.

In [ ]:
for i in range (1,11):
    if i ==5:
        continue
    print(i)

1
2
3
4

### Assignment 10: pass Statement

Write a program that defines an empty function using the pass statement.

In [ ]:
def empty_fun():
    pass
empty_fun()

### Assignment 11: Combining Loops and Conditionals

Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [ ]:
num=int(input("enter the number:"))
for i in range (1,num):
    if i%2==0:
        print(i)

2
4
6
8

### Assignment 12: Factorial Calculation

Write a program that calculates the factorial of a number input by the user using a while loop.

In [26]:
num=5
factorial=1
i=1

while i<=num:
    factorial=factorial*i
    i=i+1
print(f"number is :{num} factorial is :{factorial}")

number is :5 factorial is :120

### Assignment 13: Sum of Digits

Write a program that calculates the sum of the digits of a number input by the user using a while loop.

In [9]:
num=int(input("enter the number:"))
print(f"number is : {num}")
sum=0
while num>0:
    digit=num%10  ##last number
    sum=digit+sum
    num=num//10 ##remove last number
print(f"sum of the digits is : {sum}")

number is : 3456
sum of the digits is : 18


### Assignment 14: Prime Number Check

Write a program that checks if a number input by the user is a prime number using a for loop.

In [25]:
num=int(input("enter the number:"))
for i in range (2,num):
    for j in range (2,i):
        if i%j==0:
            break
    else:
         print(f"prime numbers are :{i}")

prime numbers are :2
prime numbers are :3
prime numbers are :5
prime numbers are :7

### Assignment 15: Fibonacci Sequence

Write a program that prints the first n Fibonacci numbers, where n is input by the user.

In [36]:
num=int(input("enter the number:"))
first=0
secound=1
for i in range(1,num):
    first=secound+first
    secound=first+secound
    print(first)
    print(secound)

1
2
3
5
8
13
21
34

# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [4]:
[x for x in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [14]:
num=list(range(1,21))
print(num)
print("first number :" ,num[0])
print("middle number :" ,len(num)//2)
print("last number :" ,num[-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
first number : 1
middle number : 10
last number : 20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [38]:
print("first five :" ,num[:5])
print("last five :" ,num[-5:])
print("index 5 to 15 :" ,num[4:15])

first five : [1, 2, 3, 4, 5]
last five : [16, 17, 18, 19, 20]
index 5 to 15 : [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [40]:
[x**2 for x in range (1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [41]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [47]:
lis=list(range(1,11))
print(lis[1:10:2])

[2, 4, 6, 8, 10]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [7]:
import random
random_list=[random.randint(1,20) for _ in range(15) ]
print("random list :",random_list)

ascending_order=sorted(random_list,reverse=True)
print("ascending order :",ascending_order)

descending_order=sorted(random_list,reverse=False)
print("descending_order :",descending_order)

remove_duplicate=set(random_list)
print("remove_duplicate :",remove_duplicate)

random list : [15, 10, 16, 7, 9, 12, 11, 3, 4, 10, 7, 16, 1, 11, 7]
ascending order : [16, 16, 15, 12, 11, 11, 10, 10, 9, 7, 7, 7, 4, 3, 1]
descending_order : [1, 3, 4, 7, 7, 7, 9, 10, 10, 11, 11, 12, 15, 16, 16]
remove_duplicate : {1, 3, 4, 7, 9, 10, 11, 12, 15, 16}

In [ ]:
def myfun(matix):

    transposed=[[0 for _ in range(3)] for _ in range(3)]

    for i in range(3):
        for j in range(3):
            transposed[j][i]=matix[i][j]

    return transposed

original=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
transpo=myfun(original)

print("original matix:")
for coloum in original:
    print(coloum)

print("transport matix:")
for row in transpo:
    print(row)

original matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
transport matix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [19]:
def flattened(flatt):
    flattened_list=[]

    for sublist in flatt:
        for item in sublist:
            flattened_list.append(item)

    return flattened_list


original=[[3,4,5],[5,6,7],[1,2],[5,5,5]]

flatt=flattened(original)

print("original:")
print(original)

print("flattend:")
print(flatt)

print("remove duplicate:")
print(list(set((flatt))))

original:
[[3, 4, 5], [5, 6, 7], [1, 2], [5, 5, 5]]
flattend:
[3, 4, 5, 5, 6, 7, 1, 2, 5, 5, 5]
remove duplicate:
[1, 2, 3, 4, 5, 6, 7]

In [21]:
matix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print("original matix:")
for row in matix:
    print(row)
print(f"secound row thirt coloun:{matix[1][2]}")

original matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
secound row thirt coloun:6



## Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print("matix:")
for row in matix:
    print(row)
print(f"secound row third coloum : {matix[1][2]}") ## row/colum

matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
secound row third coloum : 6

In [54]:
def myfun(matix):
    transposed=[[0 for _ in range(3)] for _ in range(3)]
    
    for i in range(3):
        for j in range(3):
            transposed[j][i]=matix[i][j]

    return transposed

original=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

transpose_matrix=myfun(original)

print("original matix:")
for row in original:
    print(row)

print("transposed matix:")
for row in transpose_matrix:
    print(row)

original matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
transposed matix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]


### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [33]:
dictionaries=[
    {'name':'vithu' , 'score':'90'},
    {'name':'saraa' , 'score':'45'},
    {'name':'hithu' , 'score':'20'},
    {'name':'fithu' , 'score':'89'}
]
sort_list=sorted(dictionaries, key=lambda x: x  ['score'],reverse=True)
print("sorted dictionary :")
for sort in sort_list:
    print(sort)

sorted dictionary :
{'name': 'vithu', 'score': '90'}
{'name': 'fithu', 'score': '89'}
{'name': 'saraa', 'score': '45'}
{'name': 'hithu', 'score': '20'}

In [81]:
def flattened(list):
    flattened_list=[]

    for sublist in list:
        for item in sublist:
            flattened_list.append(item)

    return flattened_list

original=[[1,2],[4,5,6],[6,7],[8,9]]

flattens = flattened (original)

print("original")
print(original)

print("flattened:")
print(flattens)

original
[[1, 2], [4, 5, 6], [6, 7], [8, 9]]
flattened:
[1, 2, 4, 5, 6, 6, 7, 8, 9]


### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [53]:
def myfun(matix):
  transposition=[[0 for _ in range(3)]for _ in range(3)]
  
  for i in range(3):
    for j in range(3):
      transposition[j][i]=matix[i][j]
  
  return transposition

original=[
      [1,2,3],
      [4,5,6],
      [7,8,9]
]
transposed=myfun(original)

print("original matix:")
for row in original:
  print(row)

print("\n transposed matix :")
for row in transposed:
  print(row)

original matix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

 transposed matix :
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [75]:
def flattens_lis(nestedlist):
    flattens=[]
    for sublist in nestedlist:
        for item in sublist:
            flattens.append(item)
    return flattens

original=[[1,2,3],[4,5],[2,4,9],[6],[9,6,5]]

flattened=flattens_lis(original)

print("original list:")
print(original)

print("flattened list:")
print(flattened)

original list:
[[1, 2, 3], [4, 5], [2, 4, 9], [6], [9, 6, 5]]
flattened list:
[1, 2, 3, 4, 5, 2, 4, 9, 6, 9, 6, 5]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [41]:
int_list=[1,2,3,4,5,6,7,8,9,10]

for index in sorted([2,3,4],reverse=True):
    int_list.pop(index)

print(int_list)

[1, 2, 6, 7, 8, 9, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [59]:
list1=["vithu","mathu","saraa","kithu"]
list2=[90,80,70,60]

ziped=list(zip(list1,list2))
print("list of tuple:",ziped)
print("tuple of tuplle:",tuple(ziped))
print("dictonary of list:",dict(ziped))

list of tuple: [('vithu', 90), ('mathu', 80), ('saraa', 70), ('kithu', 60)]
tuple of tuplle: (('vithu', 90), ('mathu', 80), ('saraa', 70), ('kithu', 60))
dictonary of list: {'vithu': 90, 'mathu': 80, 'saraa': 70, 'kithu': 60}

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [61]:
original_list=[1,2,3,4,5,6,7,8,9,10]

print("sorted list :",original_list[::-1])
print("original list :",original_list)

sorted list : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
original list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [65]:
def rotated_list(list1,n):
    n=n%len(list1)
    rotated=list1[n:]+list1[:n]

    return rotated
list2=[2,4,6,8,10,12,14,16,18,20]

n=3
rotate_list=rotated_list(list2,n)

print("original list:",list2)
print(f"list after rotates by {n} position :{rotate_list}")

original list: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
list after rotates by 3 position :[8, 10, 12, 14, 16, 18, 20, 2, 4, 6]

In [75]:
def rottate(lis,n):
    n=n%len(lis)
    rottat=lis[n:]+lis[:n]

    return rottat
n=3
list3=[2,3,4,5,6]
lis=rottate(list3,n)
print(lis)

[5, 6, 2, 3, 4]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [84]:
def myfun(list1,list2):
    intersection=[]
    for item in list1:
        if item in list2:
            intersection.append(item)
    return intersection

list1=[2,3,5,7]
list2=[5,7,8,9]

list_intersection=myfun(list1,list2)

print(f"intersection list :{list_intersection}")

intersection list :[5, 7]

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.



### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.