## dictionaries

In [1]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [6]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [19]:
my_self={"name":"vithu","age":21,"grade":'A'}
print(my_self)
print(type(my_self))

{'name': 'vithu', 'age': 21, 'grade': 'A'}
<class 'dict'>

In [4]:
student={"name":"nama","name":"jaka","name":"lalaa"}
print(student)

{'name': 'lalaa'}

In [20]:
print(my_self["name"])
print(my_self['age'])
print(my_self['grade'])

vithu
21
A

In [11]:
my_self={"name":"vithu","age":21,"grade":'A'}
print(my_self['name'])
print(my_self.get('name'))
print(my_self.get('height'))
print(my_self.get('weight',"Not Availble"))

vithu
vithu
None
Not Availble

In [33]:
##Modifying 4dictonary Elements
## Dictionary are mutuble,so you can add,update or delete elements
print(my_self)

{'name': 'vithu', 'age': 21, 'grade': 'A'}

In [ ]:
my_self["age"]=32 ## add the elements
print(my_self)
my_self["address"]="srilanka"
print(my_self)

{'name': 'vithu', 'age': 32, 'grade': 'A'}
{'name': 'vithu', 'age': 32, 'grade': 'A', 'address': 'srilanka'}

In [ ]:
del my_self["age"]## delete the value
print(my_self)

{'name': 'vithu', 'grade': 'A', 'address': 'srilanka'}

In [40]:
## dictionary method

key=my_self.keys() ## print keys 
print(key)

values=my_self.values() ## print values
print(values)

items=my_self.items() ## get all key values pairs
print(items)

dict_keys(['name', 'grade', 'address'])
dict_values(['vithu', 'A', 'srilanka'])
dict_items([('name', 'vithu'), ('grade', 'A'), ('address', 'srilanka')])

In [44]:
## copy the sets values

my_detials=my_self
print(my_self)
print(my_detials)

{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}
{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}

In [42]:
my_self["name"]="mathu"
print(my_self)
print(my_detials)

{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}
{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}

In [45]:
my_self1=my_self.copy() ## shallow copy
print(my_self1)
print(my_self)

{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}
{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}

In [46]:
my_self["name"]="kala"
print(my_self)
print(my_self1)
print(my_detials)

{'name': 'kala', 'grade': 'A', 'address': 'srilanka'}
{'name': 'mathu', 'grade': 'A', 'address': 'srilanka'}
{'name': 'kala', 'grade': 'A', 'address': 'srilanka'}

In [49]:
## iterating over dictionaries
## you can use loop to over dictionatries,key,values,or items

## iterating over keys
print("keys of the set")
for keys in my_self.keys():
    print(keys)

keys of the set
name
grade
address

In [50]:
print("values of the sets")
for value in my_self.values():
    print(value)

values of the sets
kala
A
srilanka

In [51]:
##iterating over key value pairs
for key,value in my_self.items():
    print(f"keys:{key},value:{value}")

keys:name,value:kala
keys:grade,value:A
keys:address,value:srilanka

In [1]:
d = dict()
print(type(d))

<class 'dict'>

In [3]:
d = set(range(1,6))
print(d)

{1, 2, 3, 4, 5}

In [13]:
dic = {'name':'vithu','age':21,'no':7484}
print(dic)
print(dic['age'])
print(dic['name'])
print(dic.keys())
print(dic.values())
print(dic.get('name')) ## don't print error
print(dic.fromkeys('name','vithu'))

{'name': 'vithu', 'age': 21, 'no': 7484}
21
vithu
dict_keys(['name', 'age', 'no'])
dict_values(['vithu', 21, 7484])
vithu
{'n': 'vithu', 'a': 'vithu', 'm': 'vithu', 'e': 'vithu'}

In [14]:
print(dic.get('address','not Available'))
print(dic.get('name'))
print(dic.get('phone'))

not Available
vithu
None

In [ ]:
s = {"name":"vithu","age":21,"weight":50}
s ["address"]="srilanka"
s ["phone no:"] = 34048432
print(s)

{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432}

In [11]:
del s["weight"]
print(s)

{'name': 'vithu', 'age': 21, 'address': 'srilanka', 'phone no:': 34048432}

In [13]:
key=s.keys()
print(key)
value=s.values()
print(value)

item = s.items()
print(item)

dict_keys(['name', 'age', 'address', 'phone no:'])
dict_values(['vithu', 21, 'srilanka', 34048432])
dict_items([('name', 'vithu'), ('age', 21), ('address', 'srilanka'), ('phone no:', 34048432)])

In [17]:

s = {"name":"vithu","age":21,"weight":50}
s ["address"]="srilanka"
s ["phone no:"] = 34048432
print(s)

{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432}

In [19]:
s2 = s
print(s2)
s ["nickname"]="thusha"
print(s2)
print(s)

{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432}
{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha'}
{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha'}

In [23]:
s3 = s.copy()
print(s3)
s["pet"]="dog"
print(s3)
print(s)
print(s2)

{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha', 'pet': 'dog'}
{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha', 'pet': 'dog'}
{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha', 'pet': 'dog'}
{'name': 'vithu', 'age': 21, 'weight': 50, 'address': 'srilanka', 'phone no:': 34048432, 'nickname': 'thusha', 'pet': 'dog'}

In [26]:
## iterating over keys
for key in s.keys():
    print(key)

## iterating over values
for value in s.values():
    print(value)

##iterating over key value pairs
for key ,value in s.items():
    print(f"{key}:{value}")

name
age
weight
address
phone no:
nickname
pet
vithu
21
50
srilanka
34048432
thusha
dog
name:vithu
age:21
weight:50
address:srilanka
phone no::34048432
nickname:thusha
pet:dog

In [ ]:
##nested dictonary
student = {
    "student1" :{"name":"vithu","age":21},
    "student2" :{"name":"nama","age":22},
    "student3" :{"name":"jaka","age":23} 
    }
print(student["student1"])
print(student["student2"]["name"])
print(student["student3"]["age"])

{'name': 'vithu', 'age': 21}
nama
23

In [33]:
stu = student.items()
print(stu)

dict_items([('student1', {'name': 'vithu', 'age': 21}), ('student2', {'name': 'nama', 'age': 22}), ('student3', {'name': 'jaka', 'age': 23})])

In [18]:
for k , v in student.items():
    print(f"{k}:{v}")
    for ke,va in v.items():
        print(f"{ke}:{va}")

name:lalaa

AttributeError: 'str' object has no attribute 'items'

In [20]:
s = {x:x**2 for x in range (6)}
print(s)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [40]:
## dict comphrehension
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [42]:
##condinal dict comprehension
even_squares = {x:x**2 for x in range(10) if x%2==0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [21]:
numbers = [1,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5]
frequance = { }
for num in numbers:
    if num in frequance:
        frequance[num] +=1
    else:
        frequance[num]=1
print(frequance)

{1: 4, 2: 3, 3: 3, 4: 3, 5: 3, 6: 2, 7: 2, 8: 2, 9: 2}

In [50]:
## merch dict
dic1={"a":1,"b":5}
dic2={"b":3,"d":4}
dic3={**dic1,**dic2}
print(dic3)

{'a': 1, 'b': 3, 'd': 4}

In [23]:
numbers = [1,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5]
frequance={}
for num in numbers:
    if num in frequance:
        frequance[num] +=1
    else:
        frequance[num]=1
print(frequance)

{1: 4, 2: 3, 3: 3, 4: 3, 5: 3, 6: 2, 7: 2, 8: 2, 9: 2}

In [28]:
dic1={"a":1,"b":5}
dic2={"b":3,"d":4}
padd = ({**dic1,**dic2})
print(padd)

{'a': 1, 'b': 3, 'd': 4}

In [27]:
x = dic1.update({"b":4})
print(x)
print(dic1)

None
{'a': 1, 'b': 4}